language: go
go: 
  - "1.15.x"
branches:
  except:
    - /^untagged/
script:
  - go test ./...
  - CGO_ENABLED=0 go build -o linux/amd64/esup
  - tar czf esup-linux-amd64.tar.gz -C linux/amd64 .
  - GOOS=darwin GOARCH=amd64 go build -o darwin/amd64/esup
  - tar czf esup-darwin-amd64.tar.gz -C darwin/amd64 .
deploy:
  - provider: releases
    api_key: $GITHUB_TOKEN
    file:
      - esup-linux-amd64.tar.gz
      - esup-darwin-amd64.tar.gz
    skip_cleanup: true
    overwrite: true
  - provider: script
    script: |
      docker build -f circleci.dockerfile -t esup-circleci linux/amd64 &&
        {
          docker tag esup-circleci hdpe/circleci:latest || exit 1
          if [[ -n "${TRAVIS_TAG}" ]]; then
            docker tag esup-circleci hdpe/circleci:${TRAVIS_TAG} || exit 1
          fi
        } &&
        echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin &&
        docker push -a hdpe/circleci
    skip_cleanup: true
